$colors: (
  // background
  white: #ffffff,
  back: #f2f2f2,
  card: #ffffff,
  bar: #262C41,
  blue: #2196F3,

  // text color
  text1: #43455B, // light dark
  text2: #c0c0c0, // very light dark
  text3: #74CFAE, // green

  // shadow
  shadow:      rgba(0, 0, 0, 0.26),
  deep-shadow: rgba(0, 0, 0, 0.2)
);

@function colors($key) {
  @return map-get($colors, $key);
}