html {
  font-size: 62.5%;
}

body {
  background-color: colors(back);
  font-family: fonts(notosansjapanese), serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  user-select: none;

  margin-top: 80px;
  margin-bottom: 80px;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: colors(text);
}

/* Paragraph & Typographic */

.centered {
  text-align: center;
  margin: 0 auto;
}

/* parts */

.card {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: colors(card);
  box-shadow: 0 2px 5px colors(shadow);
  border-radius: 10px 10px 10px 10px;

  @include mediaquery-smartphone {
    width: 90%;
  }
}