doctype html
html
  meta charset="utf-8"
  title rindo.me

  link rel="stylesheet" href="css/main.css"
  script src="https://code.jquery.com/jquery-1.10.2.min.js"

  body
    #hello
      .container
        .row
          .col-lg-8.col-lg-offset-2.centered
            h1 rindo.me
            h2 What You See Is What You Get.

    #green
      .container
        .row
          .col-lg-5.centered
            img src="img/iphone.png" alt=""

          .col-lg-7.centered
            h3 Hello World!!
            p Editing..

    #social
      .container
        .row.centered
          h2 Social Accounts

          .col-lg-8.col-lg-offset-2
            ul
              li
                i.fa.fa-facebook
                span rindou.katsura
              li
                i.fa.fa-twitter
                span abnormal_Ringo
              li
                i.fa.fa-instagram
                span abnormal_ringo
              / li
                / i.fa.fa-github
                / span RINDO

    #footer
      .container
        .row
          p &copy; 2016 rindo katsura


