doctype html
html
  include includes/header.pug

  body
    include includes/navbar.pug

    #hello
      .row.centered
        h1 RINDO
        h2 What You See Is What You Get.

    #skills.card.topic-card
      .row.centered
        h2 Skills

        .col-xs-12.col-sm-6.col-md-6.col-lg-3
          dl
            dt
              i.fa.fa-apple
              span iOS, WatchOS

              dd Objective-C
              dd Swift

        .col-xs-12.col-sm-6.col-md-6.col-lg-3
          dl
            dt
              i.fa.fa-android
              span Android

              dd Java
              dd Kotlin

        .col-xs-12.col-sm-6.col-md-6.col-lg-3
          dl
            dt
              i.fa.fa-cloud
              span Web

              dd Javascript
              dd Ruby
              dd Python
              dd HTML / Slim
              dd CSS / Sass

        .col-xs-12.col-sm-6.col-md-6.col-lg-3
          dl
            dt
              i.fa.fa-comments-o
              span Communication

              dd Github
              dd Slack
              dd Trello
              dd Basecamp

    #social.card.topic-card
      .row.centered
        h2 Social Accounts

        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          ul
            li
              i.fa.fa-facebook
              span rindo.katsura
            li
              i.fa.fa-github
              span RINDO
            li
              i.fa.fa-instagram
              span abnormal_ringo

    include includes/footer.pug


